body {
    font-family: TrebuchetMS, sans-serif; 
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

h2 {
    margin-left: 10px;
}   

form {
    padding: 10px; 
    margin-top: 10px; 
    margin-left: auto; 
    margin-right: auto; 
    font-weight: 600;
}

input {
    margin-bottom: 5px;
}

label {
    float: left;
    color: #008;
    width: 250px;  
}

.submit {
    padding-top: 10px;
}

.line {
    width: 430px;
}

.error {
    color: red;
}